@model Orquesta.Models.PEDIDO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PEDIDO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Canal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Canal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Entrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Entrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
