@model IEnumerable<Orquesta.Models.InventarioDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Inventarios</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fac_numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fec_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fec_ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propietario)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fac_numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fec_factura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fec_ingreso)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Proveedor)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Propietario)
            </td>

            <td>
                @Html.ActionLink("Detailles", "Details", new { id = item.Id_Inventario }) |
                @Html.ActionLink("Eliminar", "Delete_Inventario", new { id_inv = item.Id_Inventario }, new { onclick = "DeleteConfirm();" })
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script type="text/javascript">
        function DeleteConfirm() {
            if (confirm("Quieres Eliminar el Registro"))
                return true;
            else
                return false;
        }
    </script>
}